* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #000000d3;
}
.container {
  width: 350px;
  margin: 5rem auto;
  background-color: rgb(56, 174, 237);
  border-radius: 6px;
}
.form-control {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.title {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  margin-top: 0.5rem;
  text-align: left;
}
.name {
  width: 90%;
  padding: 10px;
  margin: 0.5rem auto;
  margin-bottom: -1rem;
  outline: none;
  border: none;
  border-radius: 6px;
}

button {
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  padding: 8px;
  margin: 0.5rem auto;
  margin-bottom: 2rem;
  outline: none;
  border: none;
  background-color: rgb(244, 148, 80);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#image-container {
  width: 200px;
  border-radius: 8px;
  max-height: 0;
  overflow: hidden;
  margin: 0.5rem auto;
  transition: max-height 2s;
}

#image-container img {
  width: 100%;
  padding: 10px;
}

#image-container.shown-image {
  max-height: 300px;
  margin: 10px auto;
  border: 2px solid #fff;
  box-shadow: 3px 5px #00000099;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    background-color: rgb(56, 174, 237);
    border-radius: 6px;
    margin: 1rem auto;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .title {
    font-size: 16px;
    color: #fff;
    text-align: left;
  }
  .name {
    width: 70%;
    padding: 10px;
    margin: 0.5rem auto;
    margin-bottom: -1rem;
    outline: none;
    border: none;
    border-radius: 6px;
  }

  button {
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    padding: 8px;
    margin: 0.5rem auto;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    background-color: rgb(244, 148, 80);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  #image-container {
    width: 120px;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    margin: 0.5rem auto;
    transition: max-height 2s;
  }

  #image-container img {
    width: 100%;
    padding: 10px;
  }

  #image-container.shown-image {
    max-height: 120px;
    margin: 10px auto;
    border: 2px solid #fff;
    box-shadow: 3px 5px #00000099;
  }
}
